

nav {
    display: flex;
    justify-items: space-between;
    width: 100%;
    background-color:#ECE2D0;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
}

.nav {
    display: flex;
    justify-items: space-around;
    padding: 20px 0;
    margin-left: -2px;
    margin-right: -2px;
    margin-top: -2px;
    box-shadow: 1px 1px 1px .3px #CECECE;
    width: 100%;
    background-color: #cea07f;
    color: #990100;
}


a.link.active
a.link
a.CV {
  display: flex;
  align-items: space-around;
}

.links {

  display: flex;
  align-items: space-around;
}

.rails {
  max-width: 40px;
}

.mongo {
  max-width: 30px;
}

.sql {
  max-width: 30px;
}

/* .logo {
  font-family: 'Montserrat', sans-serif;
    text-align: center;
    
    font-size: 28px;
    flex: 1;
    max-width: 30vw;
    transition: 250ms all;
    color: #990100;
}

.logo:hover {
    transform: scale(1.004);
} */

.links {
    /* flex: 2; */
    display: flex;
    /* max-width: 30vw; */
    align-items: center;
    font-size: 24px;
    
}

.link {
    flex: 1;
}

a {
    text-decoration: none;
    color: #990100;
    font-family: 'Merriweather', serif;
    font-size: 28px;
}

@media (max-width: 500px) {
    nav {
        width: 98%;
    }
    .logo {
        max-width: 50%;
    }
    .links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 50vw;
    }
    .link {
        padding: 3px;
    }
}